body{
    padding: 20px;
}

#box{
    width: 100px;
    height: 100px;
    background: violet;
    display: inline-block;
    transition: transform 1s ease-in-out;
}

#box:hover{
    transform: translate(100px, 100px) rotate(30deg);
}

#box1{
    width: 100px;
    height: 100px;
    background: violet;
    display: inline-block;
    transition: transform 1s ease-in-out;
}

#box1.hovered{
    transform: translate(100px, 100px) rotate(30deg);
}